
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: aqua;
}





h1{
    background-color:gold ;
    color: black;
    margin: 15px;
}



#boxmodel{
    text-align: center;
    background-color: black; color: gold;
    border: 2px dashed skyblue;

/* padding: 40px; */
/* margin: 50px; */
margin: 20px 40px 60px 80px;
padding: 20px 40px 60px 80px;
outline: 5px solid red;
}

